header{
    margin:35px 105px 286px 80px;
    padding-left: 109px;
}
nav{
    display: flex;
    padding-top:20px;
}
.img-logo{
    height:40px;
    width: 40px;
}
.etiquetaLogo{
    flex-grow: 0.8;
}
.nav-a{
    font-size:15px;
    text-decoration:none;
    font-weight: 600;
    padding: 10px 20px;
    color:#DCDFE6;
}
.img-encabezado{
    position:absolute;
    top:150px;
    left:750px;
    height:80%;
}

.btnRegister{
    background-color: #FB9427;
    border-radius:7px;
    border:1px solid #fff;
    color:#fff;
    padding: 13px 40px 13px 40px;
}

#btnLogin{
    border-radius: 7px;
    background-color: #fff;
    border:1px solid #FB9427;
    color: #FB9427;
    padding: 13px 40px 13px 40px;
    margin-right:15px;
}

.titulo{
    font-size:70px;
    margin:0;
    padding-top:100px;
}
.titulo > p{
    padding-top:0;
    margin:0;
    padding-bottom:30px;
}
header>h3{
    font-size:23px;
}
.linea{
    width:34px;
    background-color: black;
    margin:0;
}

.input-header{
    width:450px;
    height:50px;
    border-radius: 10px;
    margin-top:30px;
    margin-bottom: 30px;
    border-color:#DCDFE6;
    padding-left: 30px;

}
.btnDefault{
    background-color: #FB9427;
    border-radius:7px;
    border:1px solid #fff;
    color:#fff;
    padding: 15px 55px 15px 55px;
    margin-top:35px;
    margin-bottom:70px;
}

.primer-articulo{
    padding:0;
    max-width: 1242px;
    max-height: 555px;
    margin-left:141px;
    margin-right: 217px;
    margin-top:30px;
    margin-bottom: 100px;
}

.primer-articulo > img{
    float:left;
    width:600px;
    height:500px;
    padding-right:30px;
}
.primer-articulo > h2{
    font-size:35px;
    padding-top: 85px;
    padding-left:700px;
}
.primer-articulo > p{
    font-size:18px;
    padding-left:700px;
    margin:6px;
    color:gray;

}
.primer-articulo > form{
    padding-left:700px;
}

.contenedor{
    margin:100px 240px 80px 121px;
    padding:30px 0px 64px 119px;
    max-width: 1300px;
    max-height:555px;
}
.cartaContenedorUno{
    background-image: url(/images/Cusco.jpg);
}
.cartaContenedorDos{
    background-image: url(/images/izu.jpg);
}
.cartaContenedorTres{
    background-image: url(/images/ushuaia.jpg);
}
.cartaContenedorCuatro{
    background-image: url(/images/antartida.png);
}

.tercerArticulo{
    max-width:1500px;
    max-height: 1000px;
    margin:50px 130px 200px 220px;
}
.seccionTercerArticulo {
    float: left;
    max-width: 800px;
    padding-top:90px;

}

.seccionTercerArticulo > p{
    padding-right: 50px;
    margin:8px;
    color:#AEABB4;
}
.imagen3{
    margin:0;
    padding:0;

}

.testimonials{
    max-width: 1500px;
    max-height: 600px;
    padding-left: 160px;
}

.div-testimonials{
    float:left;
    max-width: 500px;
    padding-top:90px;
    margin-right: 220px;
}
.testimonials > img{
    padding-top:10px;
}

.aside{
    max-width: 1100px;
    max-height: 600px;
    padding-left: 160px;
}

footer{
        padding-left: 120px;
        padding-top:100px;
        background-color:#F9F9FB;
}

.footer-uno{
    display:flex;
    flex-direction: block;
    padding-bottom:0;
}
.footer-descripcion{
    margin-right: 250px;
    color:#AEABB4;
}
.footer-destinations{
    height:200px;
    width:400px;
    color:#AEABB4;

}

.footer-shop{
    height:200px;
    width:400px;
    color:#AEABB4;

}

.footer-interests{
    height:200px;
    width:400px;
    color:#AEABB4;

}

a >img{
    width:20px;
    height:20px;
}
.icon{
    display:flex;
    justify-content: center;
}
.icons{
    margin-right:10px;
    margin-left: 10px;
}